@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback);

.dashboard-content {
    height: 100vh;
}

.menu-item a {
    flex: 1;
    font-size: 20px;
}

.menu-item i,
.menu-item.active svg,
.menu-item a,
.menu-item a:hover {
    color: white;
    text-decoration: none;
}

.sidebar {
    transition: max-width .3s linear, flex .3s linear;
}

.sidebar .menu-item {
    cursor: pointer;
}

.sidebar .menu-item.active {
    background-color: white;
    color: #343a40;
}

.sidebar .menu-item.active i,
.sidebar .menu-item.active svg,
.sidebar .menu-item.active a {
    color: #343a40;
    fill: #343a40;
}

.menu-list.collapse {
    max-width: 100px;
    position: relative;
}

.menu-list.collapse>.menu-item {
    position: relative;
}

.sidebar .menu-item a {
    transition: left .3s linear, opacity .3s linear;
}

.menu-list.collapse>.menu-item a {
    position: absolute;
    min-width: 200px;
    left: 25px;
    opacity: 0;
}

.menu-list.collapse .menu-item:hover>a {
    left: 40px;
    opacity: 1;
    color: #343a40;
}

.content {
    position: relative;
}

.icon-bar {
    position: absolute;
    top: 5px;
    left: calc(100% - 56px);
    height: 40px;
    width: 40px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    z-index: 100;
    background-color: #999494;
    cursor: pointer;
    transition: left .3s linear;
}

.icon-bar:hover {
    background-color: #474b4f;
    transition: all .1s linear;
}

.content-table-wrap {
    transition: max-width .3s linear;
    transform-origin: center;
}

@media only screen and (max-width: 991px) {
    a.nav-item.nav-link {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .sidebar {
        position: relative;
        top: 40px;
        height: fit-content;
    }

    div.content {
        position: absolute;
        min-height: 300px;
        left: 0;
        right: 0;
    }

    .menu-list {
        opacity: 0;
        position: absolute;
        transition: all 0.3s linear;
        top: -50px;
        transform-origin: center center;
        z-index: 2;
        margin-bottom: 10px;
        overflow-y: scroll;
        scroll-snap-type: mandatory;
    }

    .icon-bar {
        background-color: #e6e6e6;
        top: -25px;
        left: calc(100% - 56px);
    }

    input#navbar-checkbox:checked+.menu-list {
        opacity: 1;
        top: -30px;
    }
}
